
.container {
    flex: 1;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #444;
    font-size: 3em;
    font-weight: 700;
}

img {
    display: block;
    margin: 0 auto 20px; /* Center the image and add bottom margin */
    max-width: 100%; /* Make image responsive */
    height: auto; /* Keep aspect ratio */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.detail-content {
    margin-top: 20px;
    line-height: 1.8;
}

.detail-content h3 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #444;
    font-weight: 700;
}

.detail-content p {
    margin-bottom: 10px;
    font-size: 1.2em;
    line-height: 1.6;
}

.pesan-button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    font-size: 1.2em;
    font-weight: 500;
}

.pesan-button:hover {
    background-color: #45a049;
}


body {
    font-family: 'Roboto', sans-serif;
    background: url('assets/img/background.jpg') no-repeat center center fixed; /* URL to your background image */
    background-size: cover; /* Make background cover the entire page */
    margin: 0;
    padding: 20px;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #444;
    font-size: 2em;
    font-weight: 700;
}

img {
    display: block;
    margin: 0 auto 20px; /* Center the image and add bottom margin */
    max-width: 100%; /* Make image responsive */
    height: auto; /* Keep aspect ratio */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.detail-content {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: 500;
    font-size: 1.1em;
    color: #333;
    margin-bottom: 5px;
}

.form-group p {
    font-size: 1.1em;
    line-height: 1.6;
    margin: 0;
}

.pesan-button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    font-size: 1.2em;
    font-weight: 500;
}

.pesan-button:hover {
    background-color: #45a049;
}
